---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.svelte";
import HeroSection from "../components/HeroSection.svelte";
import About from "../components/About.svelte"
import Feedback from "../components/Feedback.svelte"
import Contact from "../components/Contact.svelte"
import Footer from "../components/Footer.svelte"
---

<Layout title="SealNext">
  <main class="flex flex-col">
    <Header client:load/>
    <HeroSection/>
    <About client:visible/>
    <!-- <Feedback /> -->
    <Contact client:only/>
    <Footer/>
  </main>
</Layout>
