---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.svelte";
import HeroSection from "../components/HeroSection.svelte";
---

<Layout title="SealNext">
  <main>
    <Header client:load/>
    <HeroSection />
  </main>
</Layout>
